 <!-- Footer-->
 <footer class="py-5 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-4 comp_details">
                <a routerLink="" style="text-decoration: none;"><h2 class="text-warning mb-4">PIZZERIA&nbsp;&nbsp;<i class="fa-solid fa-pizza-slice"></i></h2></a>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nisi eveniet exercitationem consequatur, excepturi modi tenetur minus dignissimos recusandae ad hic illo voluptatum</p>
            </div>
            <div class="col-4 text-center reach_us">
                <h3 class="text-warning mb-4">Reach Us</h3>
                <a class="btn btn-outline-light btn-floating m-1 icons" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 icons" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 icons" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 icons" href="#!" role="button"><i class="fab fa-google"></i></a>
            </div>
            <div class="col-3 text-center contact">
                <h3 class="text-warning mb-4">Contact</h3>
                <p class="text-light ms-5"><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p class="text-light ms-4"><i class="fas fa-envelope me-3"></i>info@example.com</p>
                <p class="text-light"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p class="text-light"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
        </div>
    </div>
</footer>
