h2{
    font-family: 'Akaya Telivigala', cursive;
    margin-top: -20px;
}
.comp_details{
    margin-left: -50px;
}
.reach_us{
    margin-top: -20px;
    margin-left: 100px;
}
/* .icons{
    position: relative;
    left: -30px;
} */
.contact{
    margin-left: 60px;
    margin-top: -20px;
}
