 <!-- <pre>{{allproducts | json}}</pre> -->

 
 
 <!-- Section-->
 <div class="ap2">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                <div *ngFor="let product of allproducts | filter: searchterm : 'title' " class="col mb-5">
                    <div class="card h-100 border-dark" style="background-color: tan; box-shadow: 10px 5px 10px black;">
                        <!-- Product image-->
                        <img class="card-img-top" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4 border-top border-dark">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                                <!-- Product price-->
                                ${{product.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-danger mt-auto" href="#">Order Now</a>
                                <button (click)="addcart(product)" class="btn btn-outline-success ms-3"><i class="fa fa-cart-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </div>
 
