<div class="ap2 ms-5" *ngIf="cartitems.length==0">
    <div class="container rounded border border-dark m-5 p-5">
        <div class="row text-center">
            <div class="col">
                <img src="https://bakestudio.in/assets/images/cart/empty-cart.gif" alt="" width="400px">
                <h3 class="mt-4">Your Cart is Empty</h3>
                <a routerLink="/products/all-products" class="btn btn-success mt-3">Order Now</a>
            </div>
        </div>
    </div>
</div>



<div class="ap2" *ngIf="cartitems.length!=0">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table border border-dark m-5">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Image</th>
                            <!-- <th>Quantity</th> -->
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of cartitems let i=index">
                            <td>{{i+1}}</td>
                            <td>{{product.name}}</td>
                            <td><img [src]="product.image" width="120px" alt=""></td>
                            <!-- <td>{{product.quantity}} </td> -->
                            <td>${{product.price}}</td>
                            <td><i (click)="removeitem(product)" class="fa fa-trash text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>
                <div style="float: right;" class="mb-4">
                    <button (click)="removeall()" class="btn btn-primary">Empty cart</button>
                    <a class="btn btn-warning ms-4" routerLink="/products/all-products">View More</a>
                    <button class="btn btn-success ms-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Order Now</button>&nbsp;&nbsp;
                    <b for="">Grand Total : ${{grand}}</b>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Page</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>Delivery Address</h2>
          <form action="" [formGroup]="orderForm" class="border border-danger rounded p-3">
            <input formControlName="uname" id="uname" name="uname" type="text" placeholder="Name" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('uname')?.errors && this.orderForm.get('uname')?.touched" style="color: red; text-align: center;">Invalid Username</div>

            <input formControlName="address" id="address" name="address" type="text" placeholder="Address/House No" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('address')?.errors && this.orderForm.get('address')?.touched" style="color: red; text-align: center;">Invalid Address</div>

            <input formControlName="pincode" id="pincode" name="pcode" type="text" placeholder="Pincode" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('pincode')?.errors && this.orderForm.get('pincode')?.touched" style="color: red; text-align: center;">Invalid Pincode</div>

            <input formControlName="street" id="street" name="street" type="text" placeholder="Street" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('street')?.errors && this.orderForm.get('street')?.touched" style="color: red; text-align: center;">Invalid</div>

            <input formControlName="country" id="country" name="cntry" type="text" placeholder="Country" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('country')?.errors && this.orderForm.get('country')?.touched" style="color: red; text-align: center;">Invalid</div>

            <input formControlName="phn" id="phn" name="contact" type="text" placeholder="Contact Number" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('phn')?.errors && this.orderForm.get('phn')?.touched" style="color: red; text-align: center;">Invalid Phone Number</div>

            <input formControlName="email" id="email" name="uemail" type="text" placeholder="Email" class="form-control mt-4">
            <div *ngIf="this.orderForm.get('email')?.errors && this.orderForm.get('email')?.touched" style="color: red; text-align: center;">Invalid Email</div>
          </form><br>

          <hr style="width: 75%; margin-left: 50px;">

          <div [ngSwitch]="grand">
            <h4>Discounts</h4>
            <img *ngSwitchCase="5" (click)="discount5per($event.target)" src="https://media.istockphoto.com/id/490783538/vector/5-percent-discount-breaks-ground-on-white-background.jpg?s=612x612&w=0&k=20&c=AKXLX0I9k_1EB4idJLVVQv1vW3AbwGHq9D9TWcck9R8=" alt="" width="100px">
            <img *ngSwitchCase="10" (click)="discount10per()" src="https://img.freepik.com/premium-photo/10-percent-off-promotion_2227-142.jpg?w=2000" alt="" width="90px">
            <img *ngSwitchCase="30" (click)="discount30per()" src="https://media.istockphoto.com/id/1211937260/vector/percentage-discount-symbol-30-off.jpg?s=612x612&w=0&k=20&c=TrSYr5jVsEBiSm-SJNbT5o8IEA_pg4tEKv8B057T14g=" alt="" width="100px">
            <img *ngSwitchCase="50" (click)="discount50per()" src="https://media.istockphoto.com/id/512175299/photo/3d-red-text-50-percent-off-on-crack-hole-floor.jpg?s=612x612&w=0&k=20&c=U88tg5dmtBGZ7IAx7bKua8P1Ypf7UjAtuoFS-MMWaeE=" alt="" width="100px">
            <img *ngSwitchDefault="5" (click)="discount5per($event.target)" src="https://media.istockphoto.com/id/1202970847/vector/promo-code-coupon-code-flat-vector-set-design-illustration-on-white-background.jpg?s=612x612&w=0&k=20&c=fCvCL7xgJJzLAS_bZRZIO33DmhJmDkZS9OoDzW8b1H8=" alt="" width="100px">
          </div>

          <div>
            <h5>Your Grand Total is here : {{updatetotal}}</h5>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="proceed()" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Proceed</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- 2nd modal -->



  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Payement Page</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  UPI
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/y6GqLNgj/2560px-Paytm-Logo-standalone-svg.png" alt="" class="w-25"></label>
                  </div><br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/PqJ9bsX9/769-7692873-download-google-pay-logo-png.jpg" alt="" style="width: 45px;"></label>
                  </div><br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/XqD66jYf/Phone-Pe-Logo-wine.png" alt="" style="width: 150px; margin-top: -25px;"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <i class="fa-sharp fa-solid fa-credit-card"></i> &nbsp; Credit/Debit Cards
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="col-md-6" style="margin-left: -10px">
                    <img src="https://img.freepik.com/free-vector/realistic-credit-card-design_23-2149126088.jpg?w=2000" alt="" class="w-75">
                  </div>
                  <div style="margin-top: -150px; margin-left: 170px;">
                    <form action="">
                      <div class="form-group">
                        <label for="inputAddress">Card Number</label>
                        <div>
                          <input type="text" class="form-control" id="inputAddress" placeholder="" >
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Expiry</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="MM/YY">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">CVV/CVC</label>
                          <input type="password" class="form-control" id="inputPassword4" placeholder="">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <i class="fa-sharp fa-solid fa-wallet"></i>&nbsp;Wallet
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/y6GqLNgj/2560px-Paytm-Logo-standalone-svg.png" alt="" class="w-25"></label>
                  </div><br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/PqJ9bsX9/769-7692873-download-google-pay-logo-png.jpg" alt="" style="width: 45px;"></label>
                  </div><br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://i.postimg.cc/XqD66jYf/Phone-Pe-Logo-wine.png" alt="" style="width: 150px; margin-top: -25px;"></label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"><img src="https://download.logo.wine/logo/Amazon_Pay/Amazon_Pay-Logo.wine.png" alt="" style="width: 150px; margin-top: -25px;"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="order()" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Place Order</button>
          </div>
      </div>
    </div>
  </div>