<div class="hp1">
  <div class="container m-0">
    <div class="row">
      <div class="col-6 bg-dark ps-5 pt-5 text-light" style="background-image: linear-gradient(to left, rgba(0, 0, 0,0),rgba(0, 0, 0,1));">
        <h2 class="text-light ps-5 pt-5 m-5">HOT | FRESH | TASTY</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ullam at impedit porro place</p>
        <a class="btn btn-light m-5" routerLink="all-products">Order Now &nbsp; <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="col-6 bg-dark">
        <img class="" src="https://c4.wallpaperflare.com/wallpaper/307/291/643/5c1c955b649b9-wallpaper-preview.jpg" alt="" style="width: 847px;">
      </div>
    </div>
  </div>
</div>


 <div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8 mt-5 border border-dark rounded p-4">
          <h4 class="text-center mb-4">ABOUT US</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus modi, officia vel dignissimos, nisi quod dolorem doloribus sint eos ipsa necessitatibus ex rem. Voluptates ipsa molestias ratione quo labore ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil molestias perferendis nulla non porro similique quod voluptatum fuga. Perferendis corporis fugit voluptatem dolorum pariatur sit nihil ducimus, beatae in! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vero consequuntur repellendus et quas sequi in rem consequatur ab sint perferendis assumenda facilis, quis a autem tempora fugiat voluptatem optio</p>
      </div>
      <div class="col-2"></div>
  </div>
</div>

 <div class="container" style="margin-left: 80px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 m-4 border border-dark rounded">
            <h2 class="text-center m-4">Steps to Order Food</h2>
            <section style="background-color: #ffffff;">
                <div class="container py-5">
                  <div class="main-timeline">
                    <div class="timeline left">
                      <div class="card tl">
                        <div class="card-body p-4">
                          <h3>Login OR Signup</h3>
                        </div>
                      </div>
                    </div>
                    <div class="timeline right">
                      <div class="card tl">
                        <div class="card-body p-4">
                          <h3>Find and Select Your Food</h3>
                        </div>
                      </div>
                    </div>
                    <div class="timeline left">
                      <div class="card tl">
                        <div class="card-body p-4">
                          <h3>Place Your Order</h3>
                        </div>
                      </div>
                    </div>
                    <div class="timeline right">
                      <div class="card tl">
                        <div class="card-body p-4">
                          <h3>Food will reach you soon</h3>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="timeline left">
                      <div class="card">
                        <div class="card-body p-4">
                          <h3>2011</h3>
                          <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                            dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                      </div>
                    </div>
                    <div class="timeline right">
                      <div class="card">
                        <div class="card-body p-4">
                          <h3>2007</h3>
                          <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                            dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </section>
        </div>
        <div class="col-2"></div>
    </div>
 </div>

 <div class="popular_items">
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <a routerLink="all-products" style="text-decoration:none; color:black;"><h2 class="fw-bolder mb-4">Our Popular Deals <span class="text-dark" style="float: right;"><i class="fa-sharp fa-solid fa-arrow-right"></i></span></h2></a><br>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100 border-dark popular">
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i class="fa-solid fa-crown"></i>&nbsp; Best Seller</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.imgur.com/OHHctnf.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Pepperoni</h5>
                            <!-- Product price-->
                            $20.0
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 border-dark popular">
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i class="fa-solid fa-crown"></i>&nbsp; Best Seller</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.imgur.com/v4sa2cA.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Hot Cheese</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $27.25
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 border-dark popular">
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i class="fa-solid fa-crown"></i>&nbsp; Best Seller</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.imgur.com/IXDJ52k.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Bolognese</h5>
                            $28.0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 border-dark popular">
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i class="fa-solid fa-crown"></i>&nbsp; Best Seller</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.imgur.com/AsldA7x.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Cheesecake</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $15
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 </div>

 <app-footer></app-footer>
